# Environment variables for the ROS Emotion system
# Copy this file to .env and fill in your values

# OpenAI API configuration
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL=gpt-4o-mini  # You can use other models like gpt-4-turbo if preferred
OPENAI_API_HOST=api.openai.com  # Change for custom API endpoints
OPENAI_API_PORT=443  # Default port for OpenAI API
# to use with ollama, uncomment the following lines and comment out the above lines
#OPENAI_API_HOST=localhost  # Change for custom API endpoints
#OPENAI_API_PORT=11434  # Default port for OpenAI API
#OPENAI_MODEL=llama3.3
OPENAI_API_BASE_PATH=/v1  # Base path for API endpoints


# ROS Emotion configuration
ROS_EMOTION_CONFIG_PATH=src/ros_emotion/config/emotion_config.yaml
PERSONALITY_MODEL_TYPE=hybrid 